##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar

##############################
## IntelliJ
##############################
out/
.idea_modules/
*.iml
*.ipr
*.iws
/.idea/
/target/